[package]
name = "lingui_macro_plugin"
version = "5.10.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
# This removes more dead code
codegen-units = 1
lto = false
# Optimize for size
opt-level = "s"
# Optimize for performance, this is default so you don't need to specify it
# opt-level = "z"

[dependencies]
data-encoding = "2.3.3"
sha2 = "0.10.8"
serde = "1.0.207"
serde_json = "1.0.125"
regex = "1.10.6"
once_cell = "1.19.0"
swc_core = { version = "50.2.3", features = [
  "ecma_plugin_transform",
  "ecma_utils",
  "ecma_visit",
  "ecma_ast",
  "ecma_parser",
  "common",
  "testing_transform",
] }
# .cargo/config defines few alias to build plugin.
# cargo build-wasi generates wasm-wasi32 binary
# cargo build-wasm32 generates wasm32-unknown-unknown binary.
