name: CI

on:
  pull_request:
    branches:
      - main
      - next
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

env:
  TOOLCHAIN: 1.80.0

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          targets: wasm32-wasip1
          components: rustfmt

      - uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --check

      - name: Run cargo test
        run: cargo test
