name: Release

on:
  release:
    types: [released, prereleased]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.65.0
          target: wasm32-wasi
          override: true

      - name: Set up Node 14
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 14.x

      - uses: Swatinem/rust-cache@v2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

#      - name: Install semantic-release-rust
#        run: cargo install --git https://github.com/arlyon/semantic-release-rust.git
#      - name: Install dependencies
#        run: yarn
#      - name: Release
#        run: yarn semantic-release
#        env:
#          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
#          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
#          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Build and publish 'latest' tag
        if: ${{ github.event.action == 'released' }}
        run: |
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Build and publish 'next' tag
        if: ${{ github.event.action == 'prereleased' }}
        run: |
          npm publish --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
