name: Release

on:
  release:
    types: [released, prereleased]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      # Uses values from rust-toolchain.toml
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 20

      - uses: Swatinem/rust-cache@v2

      - name: Install npm CLI
        run: npm install -g npm@latest

      - name: Build and publish 'latest' tag
        if: ${{ github.event.action == 'released' }}
        run: npm publish

      - name: Build and publish 'next' tag
        if: ${{ github.event.action == 'prereleased' }}
        run: npm publish --tag next
